# DS_Store files
.DS_Store
**/.DS_Store

# README files
# **README.md
# **/README.md

# notes
** notes.txt
** /notes.txt

# input/output/notes folders generated locally
**/input/
**/input/*
**/output/
**/output/*
**/notes/
**/notes/*

# pycache folders
**/__pycache__
**/bin/*

# to-do folder
**/to-do_tasks

# content of test folders
**/test/*

# files with .properties extension
**/*.properties

# files with .download extension
**/*.download

# files named start.rdfox
**/start.rdfox

# exclude virtual environment
# Exclude everything in venv except the code folder
**/venv/*
!**/venv/code/
**/venv/code/.ipynb*
**/venv/code/start.rdfox
**/venv/code/notes.txt
**/venv/code/notes.ipynb

# local virtual environments created as .venv
**/.venv/

# exclude file notes.txt
ontologies/elements_book1/notes.txt
